@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Indie+Flower&family=Righteous&family=Satisfy&family=Ubuntu:wght@300&display=swap');
*{padding: 0;margin: 0;}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:#f6cf73;
    color: #427b58;
    text-align: center;
    overflow-x: hidden;
}
.helo {
    position: relative;
    height: 100vh;
    width: 100%;
    font-size:6vw; 
    font-family: 'Righteous', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #dada83, #ccd680, #bdd17e, #afcc7d, #a1c77c, #98c27a, #8fbc78, #87b776, #82b071, #7da96d, #78a268, #739b64);
    overflow-x: hidden;
}

@keyframes bubbly {
    0% { transform: translateY(0) scale(1); }
    50% { transform: translateY(-20px) scale(1.01); }
    100% { transform: translateY(0) scale(1); }
}

.helo h1 {
    animation: bubbly 2s infinite;
}
.content button{
    font-family:'Righteous',cursive;
    font-size: 2vw;
    margin-block: 20px;
    margin-inline:10px;
    padding-block:10px ;
    padding-inline: 20px;
    background-image:linear-gradient(#ff664a,#f4513f,#a9311f);
    border-radius: 5px;
    border: 2px solid #ff664a;
}
.content button:hover{
    background-image: linear-gradient(#8b291a,#61150a);
    color: #faad9f;
    border:2px solid #8b291a;
}
.content .intro h1{
    padding-top:10vh;
}
.spacer{
    aspect-ratio:960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1{background-image: url(./waves/greenwave.svg);}
.layer2{background-image: url(./waves/inv.greenwave.svg);}
.layer3{background-image: url(./waves/redwave.svg);}
.layer4{background-image: url(./waves/inv.redwave.svg);}
.content{
    height: auto;
    width: 100vw;
    align-self:center;
    text-align: justify;
    background-color: #274833;
    color: #fbf1c7;
    text-decoration: none;
    list-style:none;
}
.content h1{
    font-family: 'Ubuntu', sans-serif ;
    font-size:6vw;
    margin-bottom: 15px;
    color:#739b64;
    margin-inline:10%;
    width:auto;
    text-align: center;
    border-bottom: 1px solid;
}
.content p{
    width:70vw;
    margin-inline:15vw;
    font-family: 'Ubuntu',cursive;
    font-size: 1.5vw;
}
.link{
    width:70vw;
    margin-inline:15vw;
    display:flex;
    flex-direction: row-reverse;
}
.bottom{
    background-color: #461a16;
    padding-top:10% ;
    color: #e85d4d;
    width: 100%;
    bottom: 0;
    font-family: 'Homemade Apple',cursive;
    font-size: 5vw;
}
.bottom p{
    font-family: 'Ubuntu', sans-serif ;
    font-size: 2vw;
    padding-bottom:10vh;
}
