@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Indie+Flower&family=Righteous&family=Satisfy&family=Ubuntu:wght@300&display=swap');
*{padding: 0;margin: 0;}
body{
    padding-top: 100px;
    background-color: #8ec07c;
    color: #427b58;
    text-align: center;
}
@media (max-width: 1300px){
    .helo{font-size: 30px;}
    .content .proj button{
	width: 100%;
    }

}
.helo{
    padding-inline: 5%;
    font-size: 100px;
    font-family: 'Righteous', cursive;
    margin-bottom:10px ;
}
button{
    font-family:'Righteous',cursive;
    font-size: 20px;
    margin-block: 20px;
    margin-inline:10px;
    padding-block:10px ;
    padding-inline: 20px;
    background-image:linear-gradient(#ff664a,#f4513f,#a9311f);
    border-radius: 5px;
    border: 2px solid #ff664a;
}
button:hover{
    background-image: linear-gradient(#8b291a,#61150a);
    color: #faad9f;
    border:2px solid #8b291a;
}
.content{
    height: auto;
    width: 90%;
    margin-inline: 2.5%;
    margin-block:70px;
    padding: 2.5%;
    align-self:center;
    text-align: justify;
    border-radius: 10px;
    background-color: #282828;
    color: #fbf1c7;
    text-decoration: none;
    list-style:none;
}
.content h1{
    font-family: 'Ubuntu', sans-serif ;
    font-size:50px;
    margin-bottom: 15px;
    color:tomato;
    margin-inline:10%;
    width:auto;
    text-align: center;
    border-bottom: 1px solid;
}
.content h2{
    font-family: 'Ubuntu', sans-serif ;
    font-size:30px;
     width:auto;
}
.content p{
    font-family: 'Ubuntu',cursive;
    font-size: 20px;
}
.link{
    display:flex;
    flex-direction: row-reverse;
}
.content .proj{
    display: flex;
    flex-direction: column;
    margin-block: 4%;
    margin-inline:10%;
    background-image:linear-gradient(#fabd2f,#d79921,#b57614);
    color: #282828;
    padding: 1.5%;
    align-self:center;
    text-align: justify;
    border-radius: 10px;
}
.content .proj button{
    margin: 3px;
    background-image: linear-gradient(#282828,#1d2021);
    border: solid 2px #b57614;
    border-radius: 7px;
}
.content .proj a{
    text-decoration: none;
    color: #fabd2f;
}
.bottom{
    background-color: #427b58;
    margin-top: 300px;
    padding-top:10% ;
    color: #8ec07c;
    width: 100%;
    bottom: 0;
    font-family: 'Homemade Apple',cursive;
    font-size: 40px;
}
